Package: com.VitaTaf.HomeGesture
Name: HomeGesture
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Enable iPhone X home gesture on other devices.
Maintainer: VitaTaf
Author: VitaTaf
Section: Tweaks
